<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function buttonName() {
            $.post(location.origin + '/get_role').then(function (data) {
                    if (data === "customer") {
                        $('#find').remove();
                    } else if (data === "freelancer") {
                        $('#create').remove();
                    }
                }
            )
        }

        function myProfile() {
            $.post(location.origin + '/get_id').then(function (data) {
                    document.location='/profile/' + data;
                }
            )
        }

        $(document).ready(function () {
            buttonName()
        })
    </script>
</head>
<body>
<br>
<input type="button" class="btn btn-secondary" value="Профиль" onclick="myProfile()"><br><br>
<input type="button" id="create" class="btn btn-secondary" value="Разместить заказ"
       onclick="document.location='/order/create'">
<input type="button" id="find" class="btn btn-secondary" value="Найти новый заказ"
       onclick="document.location='/order/free'">
<br><br><input type="button" class="btn btn-secondary" value="Активные заказы"
           onclick="document.location='/order/active'"><br><br>
<input type="button" class="btn btn-secondary" value="История заказов" onclick="document.location='/order/history'"><br>
</body>
</html>