<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
        function getProfileInfo() {
            $.get(location.href + '/get_profile_info').then(function (data) {
                var element = document.getElementById('chat');
                var fragment = document.createDocumentFragment();
                var jsonParse = JSON.parse(data, function (key, value) {
                    if (key !== "") {
                        var messageElement = document.createElement('a');
                        messageElement.textContent = key + " : " + value;
                        fragment.appendChild(messageElement);
                        var brb = document.createElement('br');
                        fragment.appendChild(brb);
                    }
                });
                element.appendChild(fragment);
                }
            )
        }

        $(document).ready(function () {
            getProfileInfo()
        })
    </script>
</head>
<body>
<br>
<div class="border border-danger" id="chat" style="overflow: auto; height: 50vh; width: 45vw"></div>
<br><br>
<input type="button" id="create" class="btn btn-secondary" value="Вернуться на главную"
       onclick="document.location='/home'">
</body>
</html>